<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/css/styles.css">
  <script type="text/javascript">
  /********************************************************
	* AJAX request to add a user to the database
	*********************************************************/
  function addUser() {
    var first = document.getElementById("first_name").value;
    var last = document.getElementById("last_name").value;
    var email = document.getElementById("email").value;
    var url = "/postUser?fname=" + first + "&lname=" + last + "&email=" + email;
		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {

			}
		};
		xhttp.open("POST", url , true);
    xhttp.send();
    alert("You have been added to the database");
  }

  function checkUser() {
    var first = document.getElementById("first_name").value;
    var last = document.getElementById("last_name").value;
    var email = document.getElementById("email").value;
    var url = "/getUser?fname=" + first + "&lname=" + last + "&email=" + email;
    var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
        data = this.response;
        parsed = JSON.parse(data);
        console.log("Data Length: " + data.length);
        console.log("User data: " + data);
        console.log("User data parsed id: " + parsed.result[0].id);
        if(parsed) {
          loadUser(parsed);
        }
			}
		};
		xhttp.open("GET", url , true);
    xhttp.send();
  }

  function loadUser(data) {
    sign = document.getElementById("sign");
    // sign.classList.add("active");
    sign.innerHTML = "<a href='#'>" + data.result[0].last_name + ", " + data.result[0].first_name + "</a>";
  }

  function addReview() {
    var Review = document.getElementById("reviewText").value;
    var url = "/postReview?review=" + Review;
		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {

			}
		};
		xhttp.open("POST", url , true);
    xhttp.send();
    alert("You're review has been added");
    document.getElementById("reviewText").value = "";
  }

  </script>
</head>
<body>
<div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Sign Up</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-sm-6">
                <label for="email"><b>First Name</b></label>
                <input type="text" placeholder="Enter First Name" id="first_name" required>
              </div>
              <div class="col-sm-6">
                <label for="email"><b>Last Name</b></label>
                <input type="text" placeholder="Enter Last Name" id="last_name" required>
              </div>
            </div>
            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" id="email" required>
          </div>
          <div class="modal-footer">
            <div class="row">
              <div class="col-sm-6">
                  <button type="submit" class="btn btn-primary" onclick="addUser()" data-dismiss="modal">Sign Up</button>
              </div>
              <div class="col-sm-6">
                  <button type="submit" class="btn btn-primary" onclick="checkUser()" data-dismiss="modal">Sign In</button>
              </div>
            </div>
        </div>
    </div>
  </div>
</div>


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                         
      </button>
      <a class="navbar-brand" href="/">Pannell Construction</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">Home</a></li>
        <li><a href="/jobs">Jobs</a></li>
        <li class="active"><a href="#">Reviews</a></li>
        <li><a href="/contact">Contact</a></li>
        <% if(user == undefined) {%>
          <li id="sign"><a href="#" data-toggle="modal" data-target="#signUpModal">Sign Up/Sign In</a></li>
        <% } else {%>
          <li id="sign"><a href='#'><%=user[0].last_name%>, <%=user[0].first_name%></a></li> 
        <% }%>
      </ul>
    </div>
  </div>
</nav>

<div class='jobs'>
  <div class='jobs'>
    <h1>Customer Reviews</h1>
    <div id="results">
      <!-- Loop through results and display them -->
      <% for(var i=0; i<result.length; i++) {%>
          <hr>
          <p><%= result[i].review_text %></p>
          <h3><%= result[i].first_name %> <%= result[i].last_name %></h3>
      <% }%>
    </div>
    <% if(user != undefined) {%>
      <h1>Leave a Review</h1>
      <textarea class="form-control" id="reviewText" rows="3"></textarea>
      <button type="submit" class="btn btn-primary" onclick="addReview();">Leave Review</button>
    <%}%>
  </div>
</div>

<footer>
  <div class="row">
    <div class="col-sm-4">
      <p>Email - pannel@construction.com</p>
    </div>
    <div class="col-sm-4">
      <p>Phone - 555-555-5555</p>
    </div>
    <div class="col-sm-4">
      <p>Address - 123 N 456 S Rexburg, ID 83440</p>
    </div>
  </div>
</footer>

</body>
</html>